.cont-card{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    border: 1px solid rgb(150, 147, 147);
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;
}

.cont-card:hover{
    background-color: #a9fbd7;
    cursor: pointer;
}
.info{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
}