footer{
    background-color:rgba(58,88,100,255) ;
    padding: 10px;
    color: white;
    position: absolute;
    bottom: 0;
    width: 98.5%;
}

.footer-p{
    color: white;
    text-align: center;
}