*{
    margin: 0;
    padding: 0;
}
.contenedor-nav{
    background-color:rgba(58,88,100,255) ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    color:white;
}
.contenedor-nav h1{
    text-align: left;
}



button{
    background-color: #a9fbd7;
    border: 0;
    border-radius: 35px;
    padding-left: 25px;
    padding-right: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .9rem;
}

button:hover{
    cursor: pointer;
}